@import '../../../styles/common.scss';

.listMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  background-color: $white;

  .quantity {
    line-height: 25px;
    font-size: 15px;
  }
}
