{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "endOfLine": "auto"
}
