@import '../../styles/mixins.scss';
@import '../../styles/common.scss';

.Login {
  @include flex();
  padding-top: 17%;

  .title {
    @include title();
  }

  .icon {
    margin-right: 5px;
  }

  small {
    font-size: $smallFontSize;
  }

  .loginWrapper {
    @include flex($flexDirection: column);

    .loginMessages {
      margin: 39px;
      color: $gray;
      font-size: $middleFontSize;

      li {
        margin: 10px;
        text-align: center;
        letter-spacing: -0.5px;
        word-spacing: -1.5px;
      }
    }

    .loginRed {
      color: $orange;
      font-weight: 700;
    }
  }

  .kakaoLoginBtn {
    @include button($bgColor: $yellow);
  }

  form {
    width: 100%;
    @include flex($flexDirection: column);

    .loginInput {
      margin-bottom: 15px;
      @include input();

      &:focus {
        border: 1px solid black;
      }

      &::placeholder {
        color: $lightGray;
      }
    }

    .loginSecurity {
      margin: 0 0 26px 5px;
      align-self: flex-start;
      font-size: $smallFontSize;
      color: $middleGray;

      span {
        margin-left: 7px;
      }
    }

    .loginButton {
      @include button($bgColor: $black, $color: white);
      width: 100%;
      margin-bottom: 29px;
      font-size: 18px;
      text-align: center;
      font-weight: 800;
    }
  }

  .loginLinks {
    @include flex();
    margin-bottom: 29px;

    li {
      margin: 0 5px;
      font-size: $smallFontSize;
    }
  }

  .loginButtons {
    width: 100%;
    @include flex($justify: space-between);

    button {
      width: 49%;
      font-weight: 400;
      @include button(
        $padding: 18px 20px,
        $bgColor: white,
        $size: $secondSmallFontSize,
        $border: 1px solid $lightGray
      );

      .loginNaver {
        color: green;
      }
    }
  }

  .loginSubBtn {
    width: 100%;
    margin-bottom: 29px;
    text-align: center;
    @include button(
      $padding: 16px 0,
      $border: 1px solid $lightGray,
      $bgColor: white,
      $size: $secondMiddleFontSize
    );
  }

  .smallMsgs {
    @include flex($flexDirection: column, $align: flex-start);
    color: $middleGray;

    small {
      margin-bottom: 10px;
    }

    .msgContainer {
      @include flex();

      .icon {
        margin-top: 1px;
        align-self: flex-start;
      }
    }

    .longSmallMsg {
      width: 380px;
      line-height: 140%;
    }
  }
}
