.ColorOption {
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;

  &:first-child {
    margin: 0;
  }

  &.soldout {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &.dragging {
    cursor: grabbing;
  }

  img {
    width: 88px;
    border: 1px solid transparent;
    -webkit-user-drag: none;

    &.selected {
      border: 1px solid black;
    }
  }

  .colorName {
    padding-top: 10px;
    color: #777;
  }
}
