@import '../../styles/mixins.scss';
@import '../../styles/common.scss';

.Cart {
  padding-top: 15%;

  .cartWrapper {
    width: 1300px;

    main {
      .recommendTitle {
        @include title();
        margin-bottom: 45px;
      }

      .sliderArticleWrapper {
        @include flex();
        position: relative;

        .leftSliderBtn,
        .rightSliderBtn {
          position: absolute;
          top: 50%;
          transform: translateY(-12.5px);
          z-index: 1;
          background-color: transparent;
          border: none;
          font-size: 29px;
        }

        .leftSliderBtn {
          left: 3px;
        }

        .rightSliderBtn {
          right: 3px;
        }
      }
    }
  }
}
