@import '../../styles/mixins.scss';
@import '../../styles/common.scss';

.Cart {
  padding-top: 15%;

  .cartWrapper {
    width: 1300px;
    header {
      @include flex($justify: space-between);
      h1 {
        @include title($size: $secondBigFontSize);
        margin-bottom: 57px;
        color: $black;
      }
      .menuCate {
        margin-right: 5px;
        @include flex();
        font-size: $smallFontSize;
        letter-spacing: -0.5px;
        font-weight: 600;
        color: $gray;
        li:not(:first-child)::before {
          margin: 0 10px;
          font-weight: 300;
          content: '>';
        }
      }
    }

    main {
      article {
        display: grid;
        grid-template-columns: 905px 340px;
        gap: 60px;
        margin-bottom: 125px;
      }

      .cartItems {
        border-top: 2px solid black;
      }
    }
  }
}
