@import '../../../../styles//mixins.scss';

.ImageSlideItem {
  @include flex($flexDirection: column, $justify: space-between);
  width: 288px;
  height: 506px;
  background-color: yellow;

  .itemInfo {
    @include flex($flexDirection: column);
  }
}
