.productLists {
  margin: 0 30px;

  .productHeader {
    padding-top: 65px;

    &Title {
      font-size: 30px;
    }

    &Category {
      display: flex;
      margin-top: 45px;
    }
  }

  .productMainInfo {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    padding: 45px 0 30px 0;
    top: 0px;
    background-color: #ffffff;

    .productQuantity {
      line-height: 25px;
      font-size: 17px;
    }

    .dropDown {
      padding-right: 20px;
      line-height: 18px;
      font-size: 20px;
      text-align: center;
      color: #777777;

      &Category {
        display: none;
        position: absolute;
        width: 130px;
        right: 0px;

        a {
          display: block;
          position: relative;
          top: 10px;
          height: 45px;
          border: 1px solid;
          line-height: 40px;
          background-color: #ffffff;
          color: #353535;
          text-decoration: none;
        }
      }

      &:hover .dropDownCategory {
        display: block;
      }
    }
  }
}
