$orange: #c76733;
$gray: #777777;
$yellow: #fddc00;
$lightGray: #dddddd;
$middleGray: rgb(170, 170, 170);
$black: #222222;

$smallFontSize: 14px;
$secondSmallFontSize: 15px;
$middleFontSize: 16px;
$secondMiddleFontSize: 18px;
$bigFontSize: 25px;

.title {
  font-size: $bigFontSize;
  font-weight: 800;
}
