$orange: #c76733;
$gray: #777777;
$fontGray: #c9c9c9;
$yellow: #fddc00;
$lighterGray: #fafafa;
$lightGray: #dddddd;
$middleGray: rgb(170, 170, 170);
$borderGray: #e6e6e6;
$black: #222222;

$smallerFontSize: 12px;
$smallFontSize: 14px;
$secondSmallFontSize: 15px;
$middleFontSize: 16px;
$secondMiddleFontSize: 18px;
$thirdMiddleFontSize: 21px;
$bigFontSize: 25px;
$secondBigFontSize: 30px;
