.SizeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  color: #333;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  user-select: none;

  &:last-child {
    margin-right: 0;
  }

  &.selected {
    border: 1px solid black;
  }

  &.disabled {
    cursor: default;
  }

  &.outOfStock {
    color: #ccc;
    cursor: default;
  }
}
