.Line {
  display: flex;
  align-items: center;
  font-size: 13px;

  .title {
    margin-right: 58px;
    width: 50px;
    font-size: 14px;
    color: #777;
  }
}

.marginBottom10 {
  margin-bottom: 10px; //need to find better solution
}

.marginBottom18 {
  margin-bottom: 18px; //need to find better solution
}

.marginTop35 {
  margin-top: 35px; //need to find better solution
}
