@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.AdditionalInfoContainer {
  @include flex(column, flex-start, center);
  margin-top: 30px;
}
