.BasicInfo {
  // background-color: blue;
  // border-bottom: 1px solid black; //temp
  margin-top: 20px;
  font-size: 24px;

  .productName {
    margin-bottom: 24px;
    color: #333;
  }

  .priceWrapper {
    display: flex;
    align-items: flex-end;
    // background-color: dodgerblue;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;

    .currentPrice {
      // background-color: green;
      color: #333;
    }

    .originalPrice {
      // background-color: orange;
      color: #ccc;
      font-size: 15px;
      padding: 0 5px;
      text-decoration: line-through;
    }

    .discountRate {
      color: #8e1f29;
      font-size: 18px;
    }
  }

  .shipMileageWrapper {
    // background-color: yellow;
    padding: 20px 0;
    margin-bottom: 28px;
    border-bottom: 1px solid #e8e8e8;

    .lineWrapper {
      // background-color: grey;
      // border: 1px solid grey;
      display: flex;
      align-items: center;
      font-size: 14px;

      .lineTitle {
        margin-right: 58px;
        background-color: orange;
        width: 50px; //temp
        color: #777;
      }

      button {
        margin-left: 20px;
      }
    }
    .lineWrapper:first-child {
      margin-bottom: 18px;
    }
  }
}
