@import '../../../styles/mixins.scss';
@import '../../../styles//common.scss';

.NumberControlButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90px;
  height: 33px;
  margin: 0 130px;
  border: 1px solid $middleGray;

  span,
  button {
    background-color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  span {
    @include flex();
    border-left: 1px solid $middleGray;
    border-right: 1px solid $middleGray;
    font-size: 14px;
  }
}
