footer {
  width: 100%;
  height: 373px;
  margin: 200px auto 0px auto;
  border-top: 1px solid #dcdcdc;

  .footerwrap {
    display: flex;
    margin: 0 auto;
    height: 250px;
    width: 1300px;

    .footerLeft {
      width: 675px;
      height: 250px;
      padding-top: 60px;

      .footerLogo {
        padding-bottom: 40px;
      }

      h5 {
        padding-bottom: 15px;
        color: #777777;
        font-size: 14px;
        font-weight: 500;
      }

      .number {
        padding-bottom: 15px;
        color: #555555;
        font-size: 20px;
        font-weight: 600;
      }

      .time {
        padding-bottom: 5px;
        color: #555555;
        font-size: 13px;
      }

      .snsLogo {
        width: 30px;
        margin: 40px 15px 0 0;
      }
    }

    .footerRight {
      height: 150px;
      margin: 170px 0 0 40px;

      a {
        font-size: 13px;
        color: #555555;
        text-decoration: none solid;
        cursor: pointer;
      }

      .subBold {
        font-weight: 700;
      }

      .adress {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 13px;
        color: #777777;

        p {
          margin-bottom: 15px;
          font-size: 13px;
          color: #777777;
        }
      }
    }
  }
}
