@import '../../../styles/common.scss';
@import '../../../styles/mixins.scss';

.productMainList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, 600px);

  img {
    height: 420px;
    width: 315px;
    object-fit: cover; //제가 임의로 추가했습니다. 나중에 지워도 되요 -성재
  }

  .mouseDown {
    display: none;
  }

  .productReview {
    padding: 10px 0;
    height: 15px;
    width: 100px;
    color: $lightRed;
    font: {
      size: 15px;
      weight: 700;
    }
  }

  .productName {
    padding-top: 5px;
    height: 60px;
    width: 300px;
    max-height: 400px;
    line-height: 20px;

    span {
      display: flex;
      align-items: center;
      height: 60px;
      width: 300px;
      font-size: 16px;
    }
  }

  .discountedPrice {
    padding: 5px 15px 0 0;
    color: $black;
    line-height: 19px;
    font: {
      weight: 700;
      size: 16px;
    }
  }

  .originPrice {
    text-decoration: line-through;
    font-size: 13px;
    color: $lightGray;
  }

  .productColorAmount {
    margin-top: 10px;
    height: 16px;
    width: 310px;
    color: $middleGray;
    font: {
      size: 14px;
      weight: 600;
    }
  }

  .productTextBox {
    margin: 5px 0;
    padding: 5px 0;
    height: 22px;
    width: 102px;
    border: 1px solid $lightRed;

    span {
      @include flex;
      width: auto;
      height: auto;
      color: $lightRed;
      font-size: 13px;
    }
  }
}
