@import '../../styles/../styles/mixins.scss';
@import '../../styles/../styles/common.scss';

.SignUp {
  @include flex();
  min-width: 800px;
  padding-top: 200px;

  small {
    font-size: $smallFontSize;
    color: $middleGray;
  }

  .signUpWrapper {
    @include flex($flexDirection: column);

    .signUpTitle {
      margin-bottom: 84px;
      @include title($size: $secondBigFontSize, $weight: 770);
    }

    .BasicUserInfoTable,
    .AdditionalInfoTable {
      th tr,
      td {
        padding: 13px;
      }

      tbody {
        td:first-child {
          background-color: $lighterGray;
        }
      }
    }

    table {
      width: 800px;
      margin-bottom: 70px;
      font-size: $smallFontSize;
      border-collapse: collapse;

      thead {
        border-bottom: 3px solid black;

        .signUpSubTitle {
          @include title($size: $thirdMiddleFontSize, $weight: 700);
        }
      }

      th,
      td {
        border-bottom: 1px solid $borderGray;
      }
    }
  }

  .signUpButtons {
    @include flex();
    margin-bottom: 50px;

    .signUpCancel,
    .signUpStart {
      width: 170px;
      height: 50px;
    }

    .signUpCancel {
      @include flex();
      font-size: $secondMiddleFontSize;
      cursor: pointer;
      @include button(
        $padding: 0,
        $bgColor: white,
        $border: 1px solid $black,
        $radius: 1px
      );
    }

    .signUpStart {
      margin-left: 10px;

      @include button(
        $padding: 0,
        $bgColor: $black,
        $border: 1px solid $black,
        $radius: 0
      );
      color: white;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .show {
    display: block;
  }

  .ErrorMessage {
    margin-top: 5px;
    .message {
      color: red;
      font-size: 13px;
    }
  }

  .clearError {
    display: none;
  }
}
