@import '../../styles/../styles/mixins.scss';
@import '../../styles/../styles/common.scss';

.SignUp {
  @include flex();
  padding-top: 15%;
  min-width: 800px;

  .signUpButtons {
    @include flex();
    margin-bottom: 50px;

    .signUpCancel,
    .signUpStart {
      width: 170px;
      height: 50px;
    }

    .signUpCancel {
      @include flex();
      font-size: $secondMiddleFontSize;
      cursor: pointer;
      @include button(
        $radius: 1px,
        $bgColor: white,
        $border: 1px solid $black,
        $padding: 0
      );
    }
    .signUpStart {
      margin-left: 10px;
      @include button(
        $radius: 0,
        $bgColor: $black,
        $border: 1px solid $black,
        $padding: 0
      );
      color: white;
    }
  }

  .show {
    display: block;
  }

  table {
    margin-bottom: 70px;
    width: 800px;
    font-size: $smallFontSize;
    border-collapse: collapse;

    thead {
      border-bottom: 3px solid black;
    }

    th,
    td {
      padding: 13px;
      border-bottom: 1px solid $borderGray;
    }
  }

  small {
    font-size: $smallFontSize;
    color: $middleGray;
  }

  .signUpWrapper {
    @include flex($flexDirection: column);

    .signUpTitle {
      @include title($size: $secondBigFontSize, $weight: 770);
      margin-bottom: 84px;
    }

    .signUpSubTitle {
      @include title($size: $thirdMiddleFontSize, $weight: 700);
    }
  }

  .adressTr {
    .innerRowColumn {
      margin-bottom: 10px;
    }
  }
}
