@import '../../styles/../styles/mixins.scss';
@import '../../styles/../styles/common.scss';

.SignUp {
  @include flex();
  padding-top: 15%;

  small {
    font-size: $smallFontSize;
    color: $middleGray;
  }

  .signUpWrapper {
    background-color: red;
    @include flex($flexDirection: column);

    .signUpTitle {
      background-color: green;
      @include title($size: $secondBigFontSize, $weight: 770);
      margin-bottom: 84px;
    }

    .signUpSubTitle {
      @include title($size: $thirdMiddleFontSize, $weight: 700);
    }

    table {
      background-color: gray;
      min-width: 800px;
      font-size: $smallFontSize;
      border-collapse: collapse;

      thead {
        border-bottom: 3px solid black;
      }

      th,
      td {
        padding: 18px;
        border-bottom: 1px solid $borderGray;
      }

      .idTr {
        .idTdContainer {
          @include flex($flexDirection: column, $align: flex-start);
          small {
            margin: 15px 0 0 5px;
          }
        }
      }

      tbody {
        tr {
          .input {
            @include input($width: 80%, $padding: 10px, $radius: 1px);
            font-size: $smallFontSize;

            &::placeholder {
              color: $middleGray;
            }
          }

          .businessInfo {
            .RadioBtns {
              @include flex($justify: flex-start);
            }
          }

          td:first-child {
            background-color: $lighterGray;
          }
        }
      }

      .firstThTd {
        text-align: left;
      }
      .secondThTd {
        text-align: right;
        padding-right: 0;

        .RadioBtns {
          @include flex($justify: flex-end);
        }
      }
    }
  }

  .innerRow {
    @include flex();
  }
}
