.categoryUnorderedList {
  padding: 0 28px 17px 0;
  font-size: 23px;

  a {
    text-decoration: none;
    color: #999999;
    opacity: 0.7;
  }

  ::after {
    position: absolute;
    display: block;
    left: 50%;
    width: 0;
    height: 10px;
    content: '';
    transition: all 250ms ease-out;
  }

  :focus::after {
    position: relative;
    left: 0%;
    width: 100%;
    border-bottom: 3px solid #000;
    transition: all 250ms ease-out;
  }
}
