@import '../../../../styles/mixins.scss';

.DetailInfoContainer {
  @include flex(column, center, flex-start);
  width: 100%;

  .infoImageWrapper {
    width: 60%;
    margin-bottom: 120px;
    text-align: center;

    .infoImage {
      width: 100%;
    }
  }

  .colorInfoWrapper {
    width: 60%;
    text-align: center;

    .colorInfoTextLarge {
      line-height: 1.3;
      letter-spacing: -2.5px;
      font-size: 50px;
      font-weight: 700;
    }

    .colorInfo {
      position: relative;
      margin: 70px auto 50px;
      padding: 70px 0 50px;
      border: 9px solid #536bd1;
      text-align: center;

      .checkImage {
        position: absolute;
        width: 100px;
        top: -50px;
        left: 335px;
        font-size: 80px;
        background-color: white;
        color: #536bd1;
      }

      .colorInfoTextSmall {
        line-height: 1.3;
        letter-spacing: -0.5px;
        font-size: 28px;
      }
    }
  }
}
