.OptionsContainer {
  margin-bottom: 30px;

  .lineContent {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 13px;

    .topLineLeft {
      color: #555;

      span {
        margin-right: 10px;
        color: #999;
      }
    }

    .topLineRight {
      // 나중에 추가예정
    }
  }
}
